

<div class="page-header">
  <h1>About Visual Citibiking </h1>
</div>

<p> Did you know that given the right location and distance in New York City, a Citi bike will win a race with any other form of transportation? Everyday thousands of New Yorkers embark on the hippest way of travel in the city, burning body fat instead of fuel. This is a vibrant community whoes members refuse to be constrainted by the bus or subway schedule.  </p>

<p> That is, until their bike stations run out of bikes. Being forced to stare at empty bike docks enough times has aroused a data nerd like myself to ask the question: who took my bikes and where were they taken (were they treated nicely)? Hence a website is born trying to provide an answer. In case it is not self-evident, the idea is to draw a bubble map with the bubble size representing the available bike number at each station. Red and green colors were added to visually convey the rate with which the numbers are changing - the redder, the more rapidly it's decreasing, and vice versa. Timestamp and weather icons provide a sense of how many bikers may or may not turn out on that date. The data displayed were from July 29 to August 8, 2014. More data were collected but weren't displayed for perfomance reasons. </p>

<p> I'm grateful for folks at <a ng-href="http://nycda.com"> NYCDA </a> for their help on this project. This site is built with D3 on AngularJS. The data were collected from <a ng-href="http://citibikenyc.com">Citibike</a> via a Ruby script on AWS, injected to Firebase by a Node script. It has been a fun past few weeks tinkering with two of the most powerful technologies on the web. I hope you enjoy staring at the colorful trembling bubbles as much as I do. </p>

<script> 
$('#nav-home').removeClass('active');
$('#nav-about').addClass('active');
</script>