<div class="jumbotron">
  <h1 tooltip="Allo!">Dude, Where Is My Bike?</h1>
  <p class="lead">
    <img src="images/dock.png" alt="bikedock" height="100px"><br>
    A study of the ebb and flow of New York's Citi bikers.
  </p>
  <p><a class="btn btn-lg btn-info" ng-href="#/nyctb">Check it out!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>



 <div ng-controller="FirebaseCtrl">
 

      <div ng-repeat="msg in message"<h4> {{msg.myInput}}</h4>
      <div class="btn btn-sm" ng-click="toShow = toShow ? false:true "> <i class="fa fa-pencil"></i> </div>
      <div class="input-group" ng-show="toShow">
      <input ng-model="msg.myInput" ng-change='message.$save(msg)' type="text" class="form-control">
      <span class="input-group-btn">
      <button class="btn btn-default btn-warning" ng-click="message.$remove(msg)"> Remove </button></span>
      </div>
      </div>
      <br>
<form ng-submit="addMessage(newMessageText)">
 <div class="input-group">
      <input ng-model="newMessageText" class="form-control" />
      <span class="input-group-btn">
      <button type="submit" class="btn btn-info">New</button></span>
      </div>
    </form>
      </div>
   
   <br>

  <!--  <form name="signup_form" novalidate ng-submit="signupForm()"> <fieldset>
  <legend>Signup</legend>
  <div class="row">
  <div class="large-12 columns">
  <label>Your name</label> <input type="text" class="form-control"
  placeholder="Name" name="name" ng-model="signup.name" ng-minlength=3 ng-maxlength=20 required ng-focus />
  <div class="error" ng-show="signup_form.name.$dirty && signup_form.name.$invalid && !signup_form.name.$focused">
  <small class="error" ng-show="signup_form.name.$error.required">
           Your name is required.
  </small>
  <small class="error"
  ng-show="signup_form.name.$error.minlength">
             Your name is required to be at least 3 characters
  </small>
  <small class="error"
  ng-show="signup_form.name.$error.maxlength">
             Your name cannot be longer than 20 characters
      </small>
  </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
    <label>Your email</label> <input type="email" class="form-control"
    placeholder="Email"
    name="email"
    ng-model="signup.email"
    ng-minlength=3 ng-maxlength=20 required ng-focus/>
    <div class="error"
    ng-show="signup_form.email.$dirty && signup_form.email.$invalid && !signup_form.email.$focused">
    <small class="error" ng-show="signup_form.email.$error.required"> Your email is required.
    </small>
    <small class="error"
    ng-show="signup_form.email.$error.minlength">
    Your email is required to be at least 3 characters
    </small>
    <small class="error"
    ng-show="signup_form.email.$error.email">
                 That is not a valid email. Please input a valid email.
    </small>
    <small class="error" ng-show="signup_form.email.$error.maxlength"> Your email cannot be longer than 20 characters
      </small>
    </div>
  </div>
    </div>
     <div class="row">
    <div class="large-12 columns"> <label>Username</label>
    <input type="text" placeholder="Desired username" class="form-control"
    name="username" ng-model="signup.username" ng-minlength=3
    ng-maxlength=20 ensure-unique="username" required ng-focus/>
    <div class="error"
    ng-show="signup_form.username.$dirty && signup_form.username.$invalid && !signup_form.username.$focused">
    <small class="error" ng-show="signup_form.username.$error.required"> Please input a username
    </small>
    <small class="error"
    ng-show="signup_form.username.$error.minlength">
                 Your username is required to be at least 3 characters
    </small>
    <small class="error"
    ng-show="signup_form.username.$error.maxlength">
                 Your username cannot be longer than 20 characters
    </small>
    <small class="error"
    ng-show="signup_form.username.$error.unique">
                 That username is taken, please try another
          </small>
        </div>
    </div>
    </div>
    <br>
  <button type="submit" ng-disabled="signup_form.$invalid" class="btn btn-default btn-info button radius">Submit</button> </fieldset>
  </form>

  <br>
<div ng-controller="DatepickerDemoCtrl">
    <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

    <h4>Inline</h4>
    <div style="display:inline-block; min-height:290px;">
        <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
    </div>

    <h4>Popup</h4>
    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Format:</label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
        </div>
    </div>

    <hr />
    <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="dt = '2009-08-24'">2009-08-24</button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" tooltip="After today restriction">Min date</button>
</div>

     -->